@import url("/style/header.css");
@import url("/style/main.css");
@import url("style/foto.css");
@import url("/style/rodape.css");

:root{
    --cor-fundo:#FFA5E0;
    --letra: #000000;
    --cor-principal:#E02D60;
    --cor-secundaria:#3A14E1;
    --cinza: #201E1E;
    --fonte-principal: font-family: 'Poppins', sans-serif;
    

    
}

body{


    background-color:var(--cor-fundo) ;
}